.navbar{
    background-color:blueviolet ;
    color:rgb(75, 16, 131) ;
   display: flex;
   justify-content: space-around;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 700;    

}
.logo{
    transform: translatey(15px);
}
.main-menu ul{
    display: flex;
}
.main-menu ul li{
    padding: 30px;

}
:hover.main-menu ul li{
   cursor: pointer;
   bottom: 10px;
   
   border-color: brown;
}
:hover.menu{
  color: rgb(234, 228, 240);
}
.profile{
    transform: translateY(30px);
    cursor: pointer;

}

.footer{
    background-color: black;
    color: azure;
    padding: 20px;
    margin-top: 30px;

}
.block-1{
    display: flex;
    justify-content: space-around;
}